<mat-toolbar color="primary" class="example-toolbar">
    <h1 class="example-app-name">User Right Creations</h1>
</mat-toolbar>

<div [class]="classProp">
    <div class="loader-div">
        <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
        </mat-progress-spinner>
    </div>
</div>

<mat-card class="mat-card-class">
    <mat-card-content>
        <section class="example-section">
            <mat-form-field class="example-full-width">
                <mat-label>Designations</mat-label>
                <mat-select [formControl]="designations">
                    <mat-option *ngFor="let designation of designationArr" [value]="designation">
                        {{designation}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput placeholder=" Placeholder" [formControl]="username">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput [type]="!hide ? 'password' : 'text'" [formControl]="password">
                <button mat-icon-button matSuffix (click)="hide =! hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
            </mat-form-field>
        </section>
        <section class="example-section">
            <mat-form-field class="example-full-width">
                <mat-label>Zones</mat-label>
                <mat-select [formControl]="zones" multiple>
                    <mat-select-trigger>
                        {{zones.value ? zones.value[0] : ''}}
                        <span *ngIf="zones.value?.length > 1" class="example-additional-selection">
                            (+{{zones.value.length - 1}} {{zones.value?.length === 2 ? 'zone' : 'zones'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="1" (click)="selectAllzones(zn,rg)" #zn>All</mat-option>
                    <mat-option *ngFor="let zone of zoneList" [value]="zone" (click)="selectAllzones(zone,rg)">
                        {{zone}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Region</mat-label>
                <mat-select [formControl]="regions" multiple>

                    <mat-select-trigger>
                        {{regions.value ? regions.value[0] : ''}}
                        <span *ngIf="regions.value?.length > 1" class="example-additional-selection">
                            (+{{regions.value.length - 1}} {{regions.value?.length === 2 ? 'region' : 'regions'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="1" (click)="selectAllregions(rg,ch)" #rg>All
                    </mat-option>
                    <mat-option *ngFor="let region of regionList" [value]="region"
                        (click)="selectAllregions(region,ch)">
                        {{region}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Channel</mat-label>
                <mat-select [formControl]="channels" multiple>
                    <mat-select-trigger>
                        {{channels.value ? channels.value[0] : ''}}
                        <span *ngIf="channels.value?.length > 1" class="example-additional-selection">
                            (+{{channels.value.length - 1}}
                            {{channels.value?.length === 2 ? 'channel' : 'channels'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="1" (click)="selectAllchannels(ch,st)" #ch>All</mat-option>
                    <mat-option *ngFor="let channel of channelList" [value]="channel"
                        (click)="selectAllchannels(channel,st)">
                        {{channel}}</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section class="example-section">
            <mat-form-field class="example-full-width">
                <mat-label>State</mat-label>
                <mat-select [formControl]="states" multiple>
                    <mat-select-trigger>
                        {{states.value ? states.value[0] : ''}}
                        <span *ngIf="states.value?.length > 1" class="example-additional-selection">
                            (+{{states.value.length - 1}} {{states.value?.length === 2 ? 'state' : 'states'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="1" (click)="selectAllstates(st,ct)" #st>All</mat-option>
                    <mat-option *ngFor="let state of stateList" [value]="state" (click)="selectAllstates(state,ct)">
                        {{state}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>City</mat-label>
                <mat-select [formControl]="cities" multiple>
                    <mat-select-trigger>
                        {{cities.value ? cities.value[0] : ''}}
                        <span *ngIf="cities.value?.length > 1" class="example-additional-selection">
                            (+{{cities.value.length - 1}} {{cities.value?.length === 2 ? 'city' : 'cities'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="1" (click)="selectAllcities(ct,tt)" #ct>All</mat-option>
                    <mat-option *ngFor="let city of cityList" [value]="city" (click)="selectAllcities(city,tt)">
                        {{city}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Territory</mat-label>
                <mat-select [formControl]="territories" multiple>
                    <mat-select-trigger>
                        {{territories.value ? territories.value[0] : ''}}
                        <span *ngIf="territories.value?.length > 1" class="example-additional-selection">
                            (+{{territories.value.length - 1}}
                            {{territories.value?.length === 2 ? 'territory' : 'territories'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="1" (click)="selectAllterritory(tt,brc)" #tt>All</mat-option>
                    <mat-option *ngFor="let territory of territoryList" [value]="territory"
                        (click)="selectAllterritory(territory,brc)">{{territory}}</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section class="example-section">
            <mat-form-field class="example-full-width">
                <mat-label>BranchCode</mat-label>
                <mat-select [formControl]="branchcodes" multiple>
                    <mat-select-trigger>
                        {{branchcodes.value ? branchcodes.value[0] : ''}}
                        <span *ngIf="branchcodes.value?.length > 1" class="example-additional-selection">
                            (+{{branchcodes.value.length - 1}}
                            {{branchcodes.value?.length === 2 ? 'branchcode' : 'branchcodes'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="1" (click)="selectAllbranchcode(brc,stc)" #brc>All</mat-option>
                    <mat-option *ngFor="let branchcode of branchcodeList" [value]="branchcode"
                        (click)="selectAllbranchcode(branchcode,stc)">{{branchcode}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Store</mat-label>
                <mat-select [formControl]="stores" multiple>
                    <mat-select-trigger>
                        {{stores.value ? stores.value[0] : ''}}
                        <span *ngIf="stores.value?.length > 1" class="example-additional-selection">
                            (+{{stores.value.length - 1}}
                            {{stores.value?.length === 2 ? 'store' : 'stores'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="1" (click)="selectAllstores(stc)" #stc>All</mat-option>
                    <mat-option *ngFor="let store of storeList" [value]="store" (click)="selectAllstores(store)">
                        {{store}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <section class="example-section">
                <mat-checkbox class="example-margin" color="primary" [(ngModel)]="checked">Active</mat-checkbox>
            </section>

            <button mat-raised-button color="primary" (click)="SaveUserRights()">Save</button>

        </section>
    </mat-card-content>
</mat-card>