.mat-card-class{
   
     height: 70%;
}

.mat-form-field + .mat-form-field ,.mat-raised-button {
    margin-left:28px;
  }
  .example-full-width {
    width: 30%;
  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    padding-left:4%;
    padding-top: 3%;
  }

  .mat-raised-button{
    width:10%;
    margin-bottom:10px;
  }
.loader-div{
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .loader-class
 {
   position: absolute; 
   background-color: rgba(255, 255, 255, 0.6);
   width: 100%;
   height: 100%;
   z-index: 100000;
 }

 .example-margin {
  margin-bottom: 35px;
}
.example-app-name{
   margin-left: 40%;
}